In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

url = '../../Data/Raw/IOT-temp.csv'
data = pd.read_csv(url)
data.columns = ["id", "room_id", "noted_date", "temp", "out/in"]

In [2]:
data

,id,room_id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In
...,...,...,...,...,...
97601,__export__.temp_log_91076_7fbd08ca,Room Admin,28-07-2018 07:07,31,In
97602,__export__.temp_log_147733_62c03f31,Room Admin,28-07-2018 07:07,31,In
97603,__export__.temp_log_100386_84093a68,Room Admin,28-07-2018 07:06,31,In
97604,__export__.temp_log_123297_4d8e690b,Room Admin,28-07-2018 07:06,31,In
97605,__export__.temp_log_133741_32958703,Room Admin,28-07-2018 07:06,31,In

In [3]:
data['simple_id'] = data.index + 1
data["noted_date"] = pd.to_datetime(data["noted_date"])
new_data = data.drop(['id'], axis=1)
new_data = new_data.reindex(columns=["simple_id", "room_id", "noted_date", "temp", "out/in"])

new_data.dropna()
new_data['noted_date'] = pd.to_datetime(new_data.noted_date)
new_data.set_index('noted_date', inplace=True)
data_inside = new_data[new_data['out/in']=='In']
data_outside = new_data[new_data['out/in']=='Out']

In [4]:

data_inside = pd.DataFrame(data_inside)
data_inside = data_inside.sort_values(by="noted_date")
data_inside

                     simple_id     room_id  temp out/in
noted_date
2018-01-11 00:06:00      16219  Room Admin    32     In
2018-01-11 02:12:00      16187  Room Admin    32     In
2018-01-11 02:44:00      16177  Room Admin    32     In
2018-01-11 02:46:00      16175  Room Admin    32     In
2018-01-11 02:58:00      16168  Room Admin    31     In
...                        ...         ...   ...    ...
2018-12-10 20:25:00      50724  Room Admin    35     In
2018-12-10 20:35:00      50722  Room Admin    34     In
2018-12-10 20:37:00      50721  Room Admin    35     In
2018-12-10 21:31:00      50707  Room Admin    34     In
2018-12-10 21:33:00      50706  Room Admin    35     In

[20345 rows x 4 columns]

In [5]:
df_outside = pd.DataFrame(data_outside)
df_outside = df_outside.sort_values(by="noted_date")

In [8]:
data_outside.to_csv('../../Data/Processed/outside.csv')

data_inside.to_csv('../../Data/Processed/inside.csv')